@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

// variables

// primary color
$soft-red:#ec775f;
$cyan:#76b5bc;

// neutral color
$dark-brown:hsl(25, 47%, 15%);
$medium-brown:hsl(28, 10%, 53%);
$cream:hsl(27, 66%, 92%);
$very-pale-orange:hsl(33, 100%, 98%);

.container{
    background: $very-pale-orange;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .chart{
        width: 480px;
        height: 520px;
        .header{
            color: $very-pale-orange;
            background-color: $soft-red;
            padding: 1.2rem;
            border-radius: 14px;
            line-height: 1.8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            animation-name: moveFromTop;
            animation-duration: 1s;
            animation-delay:1s;
            animation-fill-mode: backwards;
            .balance{
                h4{
                    font-weight: 700;
                    font-size: 28px;
                }
            }
            .circle-border{
                border: 3px solid $very-pale-orange;
                border-radius: 50%;
                margin-right: 1.5rem ;
            }
            .circle{
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background-color: $dark-brown;
                transform: translateX(40%);
            }
        }
        .bars{
            background-color: white;
            margin-top: 2rem;
            box-shadow: 0px 10px 20px #eee;
            border-radius: 6px;
            max-height: 90%;
            padding: 1rem;
            animation-name: moveFromBottom;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: backwards;
            &>p{
                padding:1rem;
                color: $medium-brown;
            }

             .consuming{
                display: flex;
                align-items: center;
                justify-content: space-between;
                 h3{
                    font-size: 2rem;
                }
                 p:last-child{
                    padding-right: 8px;
                    color: $medium-brown;
                }
            }
        }
    }
}

// animation
@keyframes moveFromTop{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveFromBottom{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
