<div class="container">
  <div class="chart">
    <div class="header">
      <div class="balance">
        <p>My balance</p>
        <h4>$921.48</h4>
      </div>
      <div class="circle-border">
        <div class="circle"></div>
      </div>
    </div>
    <div class="bars">
      <h3>Spending Last 7 days</h3>
      <ngx-charts-bar-vertical
      
      [results]="data" 
  [scheme]="colorScheme"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [view]="view"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
<p>Total this month</p>
<div class="consuming">
  <h3>$478.33</h3>
  <div class="percent">
    <p>+2.4%</p>
    <p>from last month</p>
  </div>
</div>
    </div>
  </div>
</div>